{% extends 'base_template.html' %}

    {% block body %}
        <div class="ui grid" style="padding-top: 30px">
            <div class="ui form ten wide column centered">
                <div class="grouped fields">
                    <div class="form-group">
                        <p>Were you familiar with UBI before you found us?</p>
                        <div class="row radio">
                          <div class="rad-head">
                            <input type="radio" name="familiar" id="famYes">
                            <label>Yes</label>
                          </div>
                        </div>
                        <div class="row radio">
                          <div class="rad-head">
                            <input type="radio" name="familiar" id="famNo" checked>
                            <label>No</label>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p>Do you wish to advocate for UBI?</p>
                        <div class="row radio">
                          <div class="rad-head">
                            <input type="radio" name="advocate" id="advYes">
                            <label>Yes</label>
                          </div>
                        </div>
                      </div>
                      <div class="field">
                        <div class="row radio">
                          <div class="rad-head">
                            <input type="radio" name="advocate" id="advNo" checked>
                            <label>No</label>
                          </div>
                        </div>
                    </div>
                    <div class="disabled field ui input" id="firstInfo">
                        <label>First Name: </label>
                        <input type="text" id="firstName">
                    </div>
                    <div class="disabled field ui input" id="lastInfo">
                        <label>Last Name: </label>
                        <input type="text" id="lastName">
                    </div>
                    <div class="field ui input" id="emailInfo">
                        <label>E-Mail Address: </label>
                        <input class="" type="text" id="email">
                    </div>
                </div>
                <input type="submit" id="submit" value="Submit" class="ui button disabled">
            </div>
        </div>
    {% endblock %}

